body {
  position: relative;
  background-color: #f9f9f9;
  }
 
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
    }


    .modal {
      position: relative;
      width: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    }

    .modal .line {
      margin: 10px 0;
      border: none;
      border-top: 1px solid #ccc;
      
    }
     

    .modal-content {
      width: 375px;
      margin: 15% auto auto;
      position: relative;
      text-align: center;
      background: #fff;
      border: 1px solid #778;
      border-radius: 5px;
      padding: 30px 20px;
      z-index: 1;
      }

      .modal-close {
        position: absolute;
        right: 15px;
        top: 5px;
        cursor: pointer;
        z-index: 2;
        }

        .hidden {
          display: none;
          }

          .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
          }

          .card {
            display: flex;
            align-items: center;
            background-color: white;
            border: 0.7px solid black;
            border-radius: 5px;
            padding: 5px;
            height: 150px;
          }

          .card p {
            font-weight: 100;
            color: #888;
          }

          .avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            
            margin-right: 10px;
          }

          .text-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: auto;
            font-size: 14px;
          }

          .name {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 3px;
            color: #333;
          }

          .email {
            margin-bottom: 3px;
            margin-top: 8px;
            margin-right: 4px;
          }

          .address {
            margin-bottom: 10px;
            margin-top: 8px;
            
          }

          

